<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>F5OClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Top Story.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA02BB021F907523000A8AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA02BB161F907524000A8AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA02BB211F907524000A8AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA74397E204A2F22005A3B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
